@font-face {
    font-family: 'Intro-Inline'; 
    src: url(../fonts/Intro-Inline.otf); 
   }
@font-face {
    font-family: 'Phosphate'; 
    src: url(../fonts/Phosphate.ttf); 
   }
@font-face {
    font-family: 'Helvetica'; 
    src: url(../fonts/HelveticaLight.eot); 
}
@font-face {
    font-family: 'Condensed-Bold'; 
    src: url(../fonts/DINCondensedBold.ttf); 
   }
@font-face {
    font-family: 'Myriad'; 
    src: url(../fonts/MyriadPro-It.otf); 
   }
@font-face {
    src: url(../fonts/RobotoRegular.ttf); 
   }
body{
	margin: 0;
	padding: 0;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
	
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
header {
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 740px;
	margin: 0 auto;
}
.main-head {
	font: 19px 'Condensed-Bold', sans-serif;
	
}
.menu {
	float: left;
	margin-left: 15px;
}
.login {
	margin-right: 20px;
	float: right;
}
.my-lang {
	margin-right: 40px;
	float: right;
}
.switch-lang {
	border: 3px solid white;
	padding: 1px 2px;
	margin-left: 3px;
}
.top-section {
	background: #b92b27;
	

}
.bottom-section {
	background: #efefef;
}
.bottom-section ul {
	list-style: none;
	margin: 0;
	text-align: center;
	padding-left: 0;
}
.main-head a {
	color: white;
	text-decoration: none;
}
.bottom-section a {
	color: black;
	display: inline-block;
	padding: 10px;
	margin: 6px 0;
	border-right: 2px solid #dddddd;
}
.bottom-section a:last-child {
	border-right: none;
}
.translate-line {
	position: relative;
	
	background: #fffb80 url("../img/top-line-bg.png") no-repeat;
	
}
.advice {
	padding-left: 30px;
	font: 16px/18px 'Helvetica', sans-serif;
	vertical-align: middle;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #515450;
}
.word {
	padding: 12px;
	font: 16px 'Myriad', sans-serif;
	margin: 0;
	color: #68675f;
}
.allocation{
	margin-left: 200px;
	float: left;
}
.titlebox{

	float: left;
}
 .name-news{
 	display: inline-block;
 	width: 650px;
 	margin-bottom: 10px;
	text-align: left;
	font: 32px 'Condensed-Bold', sans-serif;
	
}
.name-news a {
	color: #2980b9;
}
.newsinform{
	color: #2A81B4;
	font: 12px 'Helvetica', sans-serif;
	margin-left: 0;

}
.news{
	font: 17px 'Helvetica', sans-serif;
	color: #000;
    background: url('gradient-news.png') repeat-x;
 
}
.more-news{
	display: inline-block;
	margin-top: 20px;
	font: 12px 'Helvetica', sans-serif;
	color: #2A81B4;
	margin-bottom: 30px;

}
.novelty{
	border-bottom: 1px solid #E5E5E5;
}
.content {
	width: 700px;
	margin: 0 auto;
}
.close{
	position: absolute;
	top: 9px;
	right: 20px;
	width: 40px;
	height: 40px;
	float: right;
	font-size: 0;
	cursor: pointer;
	background: url("../img/show-cross.png") no-repeat;
	background-size: 30%;
}
.upvoc {
	font: 15px 'Intro-Inline', sans-serif;
	float: left;
	margin-left: 45px;
}



